@media only screen and (max-width: 800px) {
#links{
        display: none; 
        
    }
}
@media only screen and (min-width: 800px){
    #Title h1{
            display: none; 
        }
    }
body{
    background-image: url('https://image.ibb.co/jsG9GU/background.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

#navbar{ 
    font-family: cursive;
    background-color: black;
    z-index: 1;
    margin: 0; 
    display: flex; 
    width: 100vw;
    /* flex-direction: row;  */
    align-items: center; 
    text-decoration-color: bisque;
}
#navbar_img{
    margin-right: 10px; 
    margin-left: 10px; 
}

#navbar a{
    text-decoration: black; 
    color: aliceblue;
    vertical-align: center;
    margin-left: 10px; 
    margin-right: 10px;    
}

#navbar h1{ 
    color: white; 
    font-size: 25px; 
}

#navbar1{
    font-family: cursive;
    display: flex; 
    flex-direction: column; 
    position: absolute;
    width: 100vw;
    top: 62px;
    left: 0px;
    color: black; 
}

video{
   margin-left: auto; 
   margin-right: auto;
   width: 100vw;
}

.button{
    font-family: cursive;
    color: crimson;
    background-color: black;
    text-align: center;
    border-radius: 50px;
    padding: 18px;
    width: 76px;
    height: 72px;
}

canvas{
    width: 100vw;
}

#button_div button{ 
    font-family: cursive;
    color: white;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
}

p{ 
    color: white; 
    text-align: center; 
}

